@{
    ViewBag.Title = "Kontaktai";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Developer:</strong> <a href="mailto:dunda.deividas@gmail.com">dunda.deividas@gmail.com</a><br />
</address>